html {
  background-color: #003300;
}

div {
  margin-top: 80px;
  margin-bottom: 120px;
  height: 500px;
  width: 100%;
  float: left;
  position: relative;
}

#header {
  height: 50px;
  width: 98.5%;
  position: fixed;
  float: top;
  z-index: 1;
  background-color: black;
  border: 1px solid white;
  margin-top: -10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}

tr, td {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
}

.wall {
  background-color: #001a00;
}
