html {
  background-color: #003300;
}

td div{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 0;
  width: 0;
  position: relative;
}

div .topSky{
  border-top: 1.5em solid lightblue;
}

div .leftSky{
  border-left: 2.25em solid lightblue;
}

div .rightSky{
  border-right: 2.25em solid lightblue;
}

div .topWall{
  border-top: 1.5em solid gray;
}

div .leftWall{
  border-left: 2.25em solid gray;
}

div .rightWall{
  border-right: 2.25em solid gray;
}

div .bottomWall{
  border-bottom: 1.5em solid gray;
}

div .bottomFloor{
  border-bottom: 1.5em solid darkgray;
}

div .leftFloor{
  border-left: 2.25em solid darkgray;
}

div .rightFloor{
  border-right: 2.25em solid darkgray;
}

.skyblue{
  background-color: lightblue;
}

.floorgray{
  background-color: darkgray;
}

.wallgray{
  background-color: gray;
}

div {
  margin-top: 80px;
  margin-bottom: 120px;
  height: 500px;
  width: 100%;
  float: left;
  position: relative;
}

#header {
  height: 50px;
  width: 98.5%;
  position: fixed;
  float: top;
  z-index: 2;
  background-color: black;
  border: 1px solid white;
  margin-top: -10px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 24px;
  padding-top: 15px;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 10px solid black;
  outline: 1px solid white;
  border-collapse: collapse;
  background-color: #e0e0d1;
}

img {
    display: block;
    width: 750px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid white;
    padding: 10px;
    background-color: black;
}

.bcell {
  width: 20px;
}

tr, td {
  border: 0px solid black;
  width: 30px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  padding: 0;
}

.wall {
  background-color: #001a00;
}

#farImage{
  background-color: gray;
  width: 385px;
  height: 250px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  outline: 1px solid black;
  position: relative;
}

#cheat{
  margin-top: -12px;
  background-color: gray;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
}

p {
  margin-top: 115px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
}
